@model IEnumerable<Animal_Wiki.Models.Genius>

@{
    ViewData["Title"] = "Index";
}

<h1>Genius</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src=@(item.photopath) alt="a description of the image" style="width:200px;height:100px;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Info</a> |
                <a asp-action="Index" asp-controller="Species" asp-route-id="@item.id"> Species</a>
            </td>
        </tr>
}
    </tbody>
</table>
